<section class="content-header">
    <div class="pull-right">
    </div>
    <h1>
        {{ 'Home' }}
        <small translate>Welcome!</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <tabset class="nav-tabs-custom">
                <tab heading="{{ 'Dashboard' }}">
                    <div class="row">
                        <small-box name="Giao dịch mới" color="bg-blue" icon="ion-arrow-swap"
                       quantity="{{ uncompletedExchange }}" href="app.bookings.uncompleted"></small-box>
                       <small-box name="Yêu cầu xuất hóa đơn" color="bg-blue" icon="ion-document-text"
                       quantity="{{ receiptRequest }}" href="app.bookings.receipt"></small-box>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</section>
